html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Merriweather", serif;
}

main {
  max-width: 1024px;
}

.topLine {
  border-bottom: 5px solid blue;
  margin: 0.3rem 1rem;
}

.bottomLine {
  border-bottom: 3px solid blue;
  margin: 0.3rem 1rem;
}

/* Header */
header {
  background-color: #0033cc;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 21px;
}

.hero {
  padding: 0.5rem;
  text-align: center;
}

.hero > div > h2 {
  white-space: nowrap;
  font-size: 20px;
}

.hero > div > p {
  color: grey;
  font-size: 15px;
}

/* Form */

form {
  max-width: 768px;
}

@media (min-width: 768px) {
  main {
    margin: 0 3rem;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 0 8rem;
  }
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}
fieldset > div > div {
  padding: 0.5rem 0;
}

fieldset > div > div {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

fieldset > div > label {
  padding: 0.5rem 0;
}

input[type="text"] {
  width: 100%;
  height: 3rem;
  border: 0;
  background-color: lightgrey;
  border-radius: 5px;
}

select {
  width: 100%;
  height: 3rem;
  border: 0;
  background-color: lightgrey;
  border-radius: 5px;
}

.optionPlaceholder {
  color: grey;
}

input[type="text"]::placeholder {
  padding-left: 80%;
  font-style: italic;
}

label {
  margin-bottom: 0.5rem;
}

#zipInput {
  width: 50%;
}

.formButtons {
  margin-right: 0.5rem;
}

/* Newsletter Form */

.newsletter__container {
  display: flex;
}

.newsletter__container > p {
}

.newsletter__container > .textarea {
  border: 0;
  background-color: lightgrey;
  width: 100%;
  height: 130px;
  resize: none;
  border-radius: 5px;
}

.submit__button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #4bbee3;
  font-size: 21px;
  border: 0px;
  border-radius: 4px;
  font-weight: bold;
}

.submit__Container {
  padding-bottom: 5rem;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.submit__Container > p {
  color: lightgrey;
  font-size: 14px;
  text-align: center;
  padding-top: 1rem;
}

/* Media Queries */

@media (min-width: 768px) {
  input[type="text"] {
    width: 420px;
  }

  fieldset > div > h3 {
    padding-left: 3rem;
  }

  fieldset > div > div {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  select {
    width: 420px;
  }
  label {
    width: 118px;
  }

  #zipInput {
    width: 30%;
  }

  .zipCode {
    width: 460px;
  }
}

@media (min-width: 768px) {
  input[type="text"]::placeholder {
    padding-left: 75%;
  }
}

@media (min-width: 1024px) {
  input[type="text"]::placeholder {
    padding-left: 93%;
  }
}
