html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 1024px;
}

.topLine {
  border-bottom: 5px solid blue;
  margin: 0.3rem 1rem;
}

.bottomLine {
  border-bottom: 3px solid blue;
  margin: 0.3rem 1rem;
}

/* Header */
header {
  background-color: #0033cc;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 21px;
}

.hero {
  padding: 0.5rem;
  text-align: center;
}

.hero > div > h2 {
  white-space: nowrap;
  font-size: 20px;
}

.hero > div > p {
  color: grey;
  font-size: 15px;
}

h2 {
  color: #0033cc;
}

/* Form */

form {
  max-width: 768px;
}

@media (min-width: 768px) {
  main {
    margin: 0 3rem;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 0 8rem;
  }
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}

fieldset > div > label {
  padding: 0.5rem 0;
}

.contactInputContainer {
  padding: 0.5rem 0;
}

input[type="text"] {
  width: 100%;
  height: 3rem;
  border: 0;
  background-color: lightgrey;
  border-radius: 5px;
  margin-top: 1rem;
}

#zipInput {
  width: 40%;
  margin-top: 0.3rem;
}

.zipCode {
  display: flex;
  flex-direction: column;
}

select {
  width: 100%;
  height: 3rem;
  border: 0;
  background-color: lightgrey;
  border-radius: 5px;
  margin-top: 1rem;
  color: #9e9e9e;
}

input[type="text"]::placeholder {
  padding-left: 80%;
  font-style: italic;
}

label {
  margin-bottom: 0.5rem;
  color: black;
  opacity: 0.7;
}

.formButtons {
  margin-right: 0.5rem;
}

input:focus {
  outline-color: #32a1ce;
}
textarea:focus {
  outline-color: #32a1ce;
}

select {
  outline-color: #32a1ce;
}

.contactInfo {
  padding: 1rem 0rem;
  font-size: 19px;
  color: #0033cc;
  font-weight: bold;
}

/* Media Queries */

@media (min-width: 768px) {
  input[type="text"] {
    width: 369px;
  }

  .contactInputContainer {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }

  select {
    width: 369px;
  }
  label {
    width: 166px;
  }

  #zipInput {
    width: 30%;
  }

  .zipCode {
    width: 345px;
  }
}

@media (min-width: 768px) {
  input[type="text"]::placeholder {
    padding-left: 80%;
  }

  #zipInput {
    width: 50%;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  input[type="text"]::placeholder {
    padding-left: 83%;
  }
}
