/* Newsletter Form */

.newsletter__container {
  display: flex;
  flex-direction: column;
}

.newsletter__container > p {
}

.newsletter__container > .textarea {
  border: 0;
  background-color: lightgrey;
  width: 100%;
  height: 130px;
  resize: none;
  border-radius: 5px;
}

.submit__button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #4bbee3;
  font-size: 21px;
  border: 0px;
  border-radius: 4px;
  font-weight: bold;
}

.submit__Container {
  padding-bottom: 5rem;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.submit__Container > p {
  color: lightgrey;
  font-size: 14px;
  text-align: center;
  padding-top: 1rem;
}

.container {
  padding: 6px;
}

.textareaLabel {
  width: 100%;
  margin-top: 1rem;
}

.newsletterInfo {
  font-size: 20px;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  color: #0033cc;
  font-weight: bold;
}

.newsletterformat {
  font-size: 16px;
  font-weight: normal;
  color: grey;
}

.newsletterformatText {
  margin: 0;
  padding: 0.5rem;
  color: grey;
}
